<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人信息</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/userInfo.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">HitO</span>
                </button>
                <a class="navbar-brand" href="#" @click="toIndex">HitO</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user!=null}">
                        <a href="/pages/userPublish.html">发布</a>
                    </li>
                    <li class="dropdown" v-if="originUserInfo.name != ''">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{originUserInfo.name}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" @click="toProfile">我的问题</a></li>
                            <li><a href="#" @click="toFriend">我的好友</a></li>
                            <li><a href="#" @click="toChat">聊天</a></li>
                            <li><a href="#" @click="toUserInfo">个人资料</a></li>
                            <li><a href="#" @click="toUserChange">修改密码</a></li>
                            <li><a href="#" @click="logOut">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <el-form ref="form" :model="userInfo" label-width="80px">
                    <el-form-item label="头像">
                        <img :src="userInfo.avatarUrl" alt="Avatar Preview" class="avatar"
                             style="width: 50px; height: 50px;">
                    </el-form-item>
                    <el-form-item label="用户名">
                        <el-input v-model="userInfo.username" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="姓名">
                        <el-input v-model="userInfo.name" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="邮件地址">
                        <el-input v-model="userInfo.email" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="自我介绍">
                        <el-input v-model="userInfo.selfIntroduction" disabled></el-input>
                    </el-form-item>
                </el-form>
                <el-button href="#" @click="toFriendList"
                           v-if="isFriend == '1'&&this.userInfo.id!=this.originUserInfo.id">发起聊天
                </el-button>
                <el-button @click="addFriend" v-if="isFriend != '1'&&this.userInfo.id!=this.originUserInfo.id">
                    添加好友
                </el-button>
                <el-button @click="deleteFriend" type="danger" plain
                           v-if="isFriend === '1'&&this.userInfo.id!=this.originUserInfo.id">删除好友
                </el-button>
                <hr>
                <div v-if="isFriend == '1'">
                    <h3>好友帖子</h3>
                    <el-pagination
                            layout="total"
                            :total=this.questionList.length
                            v-if="!showPageSelection">
                    </el-pagination>
                    <div class="media" v-for="(item,index) in questionList" :key="index">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" :src=item.user.avatarUrl @click="imgToUserInfo(item.user)">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading clickable" @click="toQuestion(item.id)">{{item.title}}</h4>
                            <span class="clickable" @click="toQuestion(item.id)">{{item.description}}</span><br>
                            <span class="text-desc">{{item.commentCount}} 个回复 • {{item.viewCount}} 次浏览 • {{item.likeCount}} 个赞 • {{item.user.name}}发布于{{item.createTime}}</span>
                        </div>
                    </div>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="currentPageNumber"
                            :page-sizes="[10,20,30,40,50]"
                            :page-size="10"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total=this.total
                            v-if="showPageSelection">
                    </el-pagination>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>热门话题</h3>
                <br>
                <div class="media" v-for="(item, index) in hotQuestionList" :key="index">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" :src="item.user.avatarUrl" @click="imgToUserInfo(item.user)">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading clickable" @click="toQuestion(item.id)">{{item.title}}</h4>
                        <span class="clickable" @click="toQuestion(item.id)">{{item.description}}</span><br>
                        <span class="text-desc">{{item.commentCount}} 个回复 • {{item.viewCount}} 次浏览 • {{item.likeCount}} 个赞 • {{item.user.name}}发布于{{item.createTime}}</span>
                        <a class="text-desc" v-if="item.creator === originUserInfo.username" href="javascript:void(0);"
                           @click.prevent="deleteQuestion(item.id)"> 删除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            username: '',
            userInfo: {},
            hotQuestionList: [],
            originUserInfo: {},
            name: '',
            questionList: [],
            currentPageNumber: 1,
            size: 10,
            total: 0,
            username: '',
            showPageSelection: true,
            tagInSession: '',
            isFriend: 0,
        },
        created: function () {
            this.getOriginUserInfo();
            this.isFriendCheck();
            this.getHotQuestionList();
            this.getUserInfoBySession().then(() => {
                this.getMyQuestionNumber(this.username);
                this.getMyQuestionList(this.currentPageNumber, this.size, this.username);
            })
        },
        methods: {
            isFriendCheck() {//检查是否为当前登录用户的好友
                const resp = axios.get('/friends/get', {
                    params: {
                        friendId: this.userInfo.id,
                        userId: this.originUserInfo.id,
                        status: "accepted"
                    }
                }).then(response => {
                    if (response.data.code == 1) {
                        this.isFriend = "1"
                    }
                    if (response.data.code == 0) {
                        this.isFriend = "0"
                    }
                })
            },
            addFriend() {//添加好友
                this.$confirm('确定添加为好友?', '发送好友请求', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    try {
                        const resp = axios.get('/friends/addRequest', {// 请求添加好友接口
                            params: {
                                friendId: this.userInfo.id,
                                userId: this.originUserInfo.id
                            }
                        }).then(response => {
                            if (response.data.code == 1) {
                                this.$message({
                                    type: 'success',
                                    message: '发送成功!'
                                });
                            }
                            if (response.data.code == 0) {
                                this.$message({

                                    message: response.data.msg
                                });
                            }
                        })
                            .catch(error => {
                                console.error(error);
                            });
                    } catch (error) {
                        console.error('获取失败', error);
                    }
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '发送取消'
                    });
                });
            },
            toFriendList() {//跳转到聊天页面
                window.location.href = "userChat.html";
            },
            async getMyQuestionList(pageNumber, pageSize, username) {//获取当前页面对应用户的问题列表
                try {
                    const resp = await axios.get('/user/myquestionlist', {
                        params: {
                            pageNumber: pageNumber,
                            pageSize: pageSize,
                            username: username
                        }
                    });
                    if (resp.data.code == 1) {
                        this.questionList = resp.data.data;
                    } else {
                        console.log(resp.data.data)
                    }
                } catch (error) {
                    console.error('获取失败', error);
                }
            },
            handleSizeChange(newSize) {//分页模块页面大小变化重新请求数据
                this.size = newSize;
                this.getMyQuestionList(this.currentPageNumber, this.size, this.username);
            },
            handleCurrentChange(newPage) {//分页模块页面号变化重新请求数据
                this.currentPageNumber = newPage;
                this.getMyQuestionList(this.currentPageNumber, this.size, this.username);
            },
            async getMyQuestionNumber(username) {//获取当前页面对应用户的问题总数
                this.isFriendCheck();
                try {
                    const resp = await axios.get('/user/myquestionnumber', {
                        params: {
                            username: username
                        }
                    });
                    if (resp.data.code == 1) {
                        this.total = resp.data.data;
                    } else {
                        console.log(resp.data.data)
                    }
                } catch (error) {
                    console.error('获取失败', error);
                }
            },
            async getUserInfoBySession() {//根据session获取当前登录用户的个人信息
                let from = localStorage.getItem("from");
                try {
                    const resp = await axios.get('/user/get/userinfo', {
                        params: {
                            from: from
                        }
                    });
                    if (resp.data.code == 1) {
                        this.userInfo = resp.data.data;
                        console.info(this.userInfo);
                        this.username = resp.data.data.username;
                    } else {
                        window.location.href = "userLogin.html";
                    }
                } catch (error) {
                    console.error('获取失败', error);
                }
            },
            toProfile() {//跳转到我的问题页面
                window.location.href = "userProfile.html";
            },
            toIndex() {//跳转到用户主页
                window.location.href = "userIndex.html";
            },
            async getHotQuestionList() {//获取当前热门话题列表
                try {
                    const resp = await axios.get('/user/hotquestionlist', {});
                    if (resp.data.code == 1) {
                        this.hotQuestionList = resp.data.data;
                    } else {
                        console.log(resp.data.msg);
                    }
                } catch (error) {
                    console.error('获取失败', error);
                }
            },
            async logOut() {//登出
                try {
                    const resp = await axios.get('/userlogout');
                    if (resp.data.code == 1) {
                        window.location.href = "userLogin.html";
                    } else {
                        console.log(resp.msg);
                    }
                } catch (error) {
                    console.error('获取失败', error);
                }
            },
            toUserInfo() {//跳转到用户个人信息页面
                localStorage.setItem("from", '0');
                window.location.href = "userInfo.html";
            },
            async imgToUserInfo(user) {//跳转到头像对应用户的个人信息页面
                try {
                    const resp = await axios.put('/user/setuserinfo', JSON.stringify(user), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (resp.data.code == 1) {
                        localStorage.setItem("from", '1');
                        window.location.href = "userInfo.html";
                    } else {
                        console.log(resp.data.msg);
                    }
                } catch (error) {
                    console.error('跳转失败', error);
                }
            },
            async getOriginUserInfo() {//获取当前登录用户的个人信息
                try {
                    const resp = await axios.get('/user/get/userinfo', {
                        params: {
                            from: 0
                        }
                    });
                    if (resp.data.code == 1) {
                        this.originUserInfo = resp.data.data;
                    } else {
                        console.log(resp.data.msg);
                    }
                } catch (error) {
                    console.error('获取失败', error);
                }
            },
            toFriend() {//跳转到我的好友页面
                localStorage.setItem("tag", '0');
                window.location.href = "userFriend.html";
            },
            toChat() {//跳转到聊天页面
                localStorage.setItem("tag", '0');
                window.location.href = "userChat.html";
            },
            toUserChange() {//跳转到修改密码页面
                localStorage.setItem("tag", '0');
                window.location.href = "userChange.html";
            },
            async deleteFriend(userId, friendId) {//删除好友
                try {
                    const resp = await axios.delete('/friends/deletefriend', {
                        params: {
                            id1: this.originUserInfo.id,
                            id2: this.userInfo.id
                        }
                    });
                    if (resp.data.code == 1) {
                        alert("删除成功");
                        window.location.href = "userInfo.html";
                    } else {
                        alert("删除失败")
                    }
                } catch (error) {
                    console.error('删除失败', error);
                }
            },
            async toQuestion(id) {//跳转到id问题对应的详情页面
                let viewChangeInfo = {
                    id: id
                }
                try {
                    const resp = await axios.put('/user/view', JSON.stringify(viewChangeInfo), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (resp.data.code == 1) {
                        sessionStorage.setItem("qid", id);
                        window.location.href = "userQuestion.html";
                    } else {
                        console.log(resp.data.msg);
                    }
                } catch (error) {
                    console.error('修改失败', error);
                }
            }
        }
    });
</script>
</body>
</html>
