<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户登录</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/userLogin.css">
    <script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/crypto-js.min.js"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <h1 style="color: aliceblue;text-align: center;font-size: 65px;font-family: sans-serif;">工大圈子</h1>
        <div class="form row">
            <form class="form-horizontal col-sm-offset-3 col-md-offset-3" @submit.prevent="login">
                <h3 class="form-title">登录</h3>
                <div class="col-sm-9 col-md-9">
                    <div class="form-group">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input class="form-control" type="text" name="username" id="username" v-model="username"
                               placeholder="请输入用户名" required autofocus>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-key" aria-hidden="true"></i>
                        <input class="form-control" type="password" name="password" id="password" v-model="password"
                               placeholder="请输入密码" required>
                    </div>
                    <div class="form-group">
                        <br>
                        <a href="#" @click="toRegister">没有账号？立即注册</a>
                        <br>
                        <a href="#" @click="toRecover">忘记密码？点击找回</a>
                        <br>
                        <a href="#" @click="toAdministratorLogin">管理员登录</a>
                    </div>
                    <div class="form-group" id="button">
                        <input type="submit" value="登录" class="btn btn-success pull-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            username: '',
            password: '',
            hash1: '',
            hash2: '',
            verificationCode: ''
        },
        methods: {
            async login() {//用户登录
                this.hash1 = md5(this.username + this.password);
                this.verificationCode = this.generateRandomCode();
                this.hash2 = md5(this.hash1 + this.verificationCode);
                let loginUser = {
                    username: this.username,
                    hash2: this.hash2,
                    verificationCode: this.verificationCode
                }
                try {
                    const resp = await axios.post('/login', JSON.stringify(loginUser), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    if (resp.data.code == 1) {
                        window.location.href = "userIndex.html";
                    } else {
                        alert(resp.data.msg);
                        this.username = "";
                        this.password = "";
                    }
                } catch (error) {
                    console.error('登录失败', error);
                }
            },
            toRegister() {//跳转到用户注册页面
                window.location.href = "userRegister.html";
            },
            toAdministratorLogin() {//跳转到管理员登录页面
                window.location.href = "administratorLogin.html"
            },
            generateRandomCode() {//产生八位随机数字串用于登录验证
                let code = '';
                for (let i = 0; i < 8; i++) {
                    code += Math.floor(Math.random() * 10);
                }
                return code;
            },
            toRecover(){//跳转到找回密码页面
                window.location.href="userRecover.html";
            }
        }
    });
</script>
</body>
</html>
