<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Login</title>

    <script src="/js/jquery-3.7.1.js" ></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<div class="container">
    <div class="form row">
        <form class="form-horizontal col-sm-offset-3 col-md-offset-3">
            <h3 class="form-title">登录</h3>
            <div class="col-sm-9 col-md-9">
                <div class="form-group">
                    <!--        用户名图标和用户名输入框            -->
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input class="form-control" type="text" name="username" id="username" placeholder="请输入用户名"
                           required autofocus>
                </div>
                <!--        密码图标和密码输入框                -->
                <div class="form-group">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input class="form-control " type="password" name="password" id="password" placeholder="请输入密码"
                           required>
                </div>
                <!--        用超链接跳转到注册页面               -->
                <div class="form-group">
                    <br>
                    <a href="https://github.com/login/oauth/authorize?client_id=Ov23liIVxvRQh6X1Calr&redirect_uri=http://localhost:8080/callback&scope=user&state=1">使用Github账户登录</a>
                </div>
                <!--        用超链接跳转到注册页面               -->
                <div class="form-group">
                    <br>
                    <a href="/register">没有账号？立即注册</a>
                </div>
                <!--         登录按钮           -->
                <div class="form-group">
                    <input type="submit" value="登录" class="btn btn-success pull-right">
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>
